body {
    background-color: yellow;
}

.sidebar-nav {
    margin-top: 50px;
    padding: 20;
    list-style: none;
    color: green;
   

}

ul.sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.a {
    float: left;
}

li.a a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.a a:hover {
    background-color: #111;
}
